.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

div {
  cursor: grabbing;
}

.template {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-image: url("./pieces/template.jpg");

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.piece {
  height: 150px;
  width: 150px;
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.piece-helper {
  height: 150px;
  width: 150px;
  background-size: cover;
}

.p0 {
  background-image: url("./pieces/p0.jpg");
}

.p1 {
  background-image: url("./pieces/p1.jpg");
}

.p2 {
  background-image: url("./pieces/p2.jpg");
}

.p3 {
  background-image: url("./pieces/p3.jpg");
}
.p4 {
  background-image: url("./pieces/p4.jpg");
}

.p5 {
  background-image: url("./pieces/p5.jpg");
}

.p6 {
  background-image: url("./pieces/p6.jpg");
}

.p7 {
  background-image: url("./pieces/p7.jpg");
}
.p8 {
  background-image: url("./pieces/p8.jpg");
}
